body {
    font-family: 'Roboto', sans-serif;
    background-color: #333;
    color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    margin: 0;
    padding: 20px;
}

.container {
    text-align: center;
    margin: 0 auto;
}

h1 {
    margin-bottom: 30px;
    color: #00aaff;
    font-size: 36px;
    letter-spacing: 1px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    white-space: nowrap;
    /* Prevent wrapping */
    overflow: hidden;
    border-right: 2px solid #00aaff;
    /* Blinking cursor effect */
    display: inline-block;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service-box {
    background-color: #444;
    border: 1px solid #555;
    border-radius: 10px;
    margin: 15px;
    padding: 15px;
    width: 150px;
    transition: transform 0.2s, background-color 0.2s, border 0.2s, box-shadow 0.2s;
    text-decoration: none;
}

.service-box:hover {
    transform: scale(1.05);
    background-color: #555;
    border-color: #00aaff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.service-logo {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.service-title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
    letter-spacing: 0.5px;
    color: #f0f0f0;
}